    <!--<div class="row">-->
      <!--<div class="col-md-3">-->
        <h2>User info</h2>
        <p><%= attachment_image_tag user, :profile_image, size:'100x100', format: 'jpg', fallback: "no_image.jpg" %></p>
        <table class="table">
          <tbody>
            <tr>
              <th class="profile-name"> name </th>
              <th class="profile-name"> <%= user.name %> </th>
            </tr>
            <tr>
              <th class="profile-text"> introduction </th>
              <th class="profile-text"> <%= user.introduction %> </th>
             </tr>
           </tbody>
        </table>

        <!--% if user.id == current_user.id %>-->
          <p class="edit-box">
            <%= link_to edit_user_path(user.id)  do %>
            <i class="fas fa-user-cog"></i>
            <% end %>
          </p>

