  <!--<div class="row">-->
    <!--<div class="col-md-3">-->

          <p id="notice"></p>
          <%= form_with model: book, local:true do |f| %>

            <h2>New book</h2>

              <h4>Title</h4>
              <div class="book-item"><%= f.text_field :title %></div>

              <h4>Opinion</h4>
              <div class="book-item"><%= f.text_area :body %></div>

              <div class="book-box"><%= f.submit 'Create Book' %></div>

          <% end %>



    <!--</div>-->
  <!--</div>-->
