<% if @book.errors.any? %>
<div id="error_explanation">
  <span><%= @book.errors.count %>件のエラーが発生しました</span>
  <!--<span>-->
  <!--  %= @book.errors.full_messages.each do |message| %>-->
  <!--    <span>%= message %></span>-->
  <!--  % end %>-->
  <!--</span>-->
</div>
<% end %>

<div class="sidebar">
  <div class="container px-5 px-sm-0">
    <div class="row">

      <div class="col-md-3">
        <%= render 'users/sidebar', user: @user%>

        <%= render 'books/sidebar', book: @book%>
      </div>


      <%= render 'books/list', books: @books %>

    </div>
  </div>
</div>

